#sidebar {
    position: absolute;
    width: 300px;
    background: #999;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.scroll-pane {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.section > h3 {
    margin: 0;
    padding: 4px 10px;
    font-size: 14px;
    height: 20px;
    background: black;
    color: #fff;
}

.section-headers {
    position: absolute;
}

.section-headers > h3 {
    margin: 0;
    padding: 4px 10px;
    font-size: 14px;
    height: 20px;
    background: black;
    color: #fff;
    width: auto;
}

.hidden {
    display: none;
}

.section .body {
    padding: 5px;
}

.above.section-headers {
    top: 0;
}

.below.section-headers {
    bottom: 0;
}

/*
Elements snapped to the bottom are closed 100% of the time.
Elements snapped to the top are closed except for the bottom-most element which is open
  - However you cannot do 'h3:not(.hidden):last' in css, so javacript is required.
Free floating elements are open 100% of the time -> closing one will move it to the top
 */

.above > h3.opened::before {
    content: 'V ';
}

h3.closed::before {
    content: '> ';
}

.section > h3::before {
    content: 'V ';
}

/*
Creates enough blank space after the final section so it can be scrolled to any arbitray position off screen
 */
/*.scroll-pane .section:last-child {
    height: 100%;
}

.scroll-pane .section:last-child::after {
    content: ' ';
    height: inherit;
    display: block;
}
*/
