#sidebar {
    position: absolute;
    width: 300px;
    background: #999;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.scroll-pane {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.section {}

.section > h3 {
    margin: 0;
    padding: 4px 10px;
    font-size: 14px;
    height: 20px;
    background: black;
    color: #fff;
}

.scroll-pane .section:last-child {
    height: 100%;
}

.scroll-pane .section:last-child::after {
    content: ' ';
    height: inherit;
    display: block;
}

.section-headers {
    position: absolute;
}

.section-headers > h3 {
    margin: 0;
    padding: 4px 10px;
    font-size: 14px;
    height: 20px;
    background: black;
    color: #fff;
    width: auto;
}

.hidden {
    display: none;
}

.closed > .body {
    display: none;
}

.section .body {
    padding: 5px;
}

.above.section-headers {
    top: 0;
}

.below.section-headers {
    bottom: 0;
}
