/* Scrolly.css | Author: Nathan Johnson <mail@njohnson.me> | Copyright 2014 All Rights Reserved */

/**
 * Default. This is the main container. 
 */
#sidebar {
    position: absolute;
    background: #4b4b4b;
    width: 300px;
    top: 0;
    right: 0;
    bottom: 0;
}

/**
 * Base - Will not function without
 */
.scroll-pane {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.section-headers {
    position: absolute;
}

.section .body {
    padding-left: 10px;
    padding-right: 10px;
    color: #d6d6d6;
}

.content-header {
    width: auto;
    height: 20px;
    margin: 0;
    padding: 4px 10px;
    font-size: 14px;
    background: #393939;
    color: #d6d6d6;
}

.hidden {
    display: none;
}

.above.section-headers {
    top: 0;
}

.below.section-headers {
    bottom: 0;
}

/**
 * Creates enough blank space after the final section so
 * it can be scrolled to any arbitray position off screen
 *   - Without the last few sections won't snap to top
 */
.scroll-pane .section:last-child {
    height: 100%;
}

.scroll-pane .section:last-child::after {
    content: ' ';
    height: inherit;
    display: block;
}

/**
 * Default design - Not required.
 */
.content-header {
    font-family: Roboto, arial, sans-serif;
    border-bottom: 1px solid #2c2c2c;
    box-shadow: inset 0 1px 1px 0 rgba(200, 200, 200, 0.08);
}

.content-header:hover {
    background: #414141;
}

.section > .content-header {
    /* Only when a section header is by itself in the middle of the page. */
    border-top: 1px solid #2c2c2c;
}

.below > .content-header.hidden + .content-header.closed {
    /* Topmost header on the bottom stack is also alone and missing it's top border without. */
    border-top: 1px solid #2c2c2c;
}

.scroll-pane > .section:first-of-type > .content-header {
    /**
     * Topmost header, will never be displayed.
     * The bottom border had a tendancy to peak out
     * and give the first header a 2px bottom-border
     * looking out of place.
     */
    border: none;
}

/** #Control-Symbols
 * Snapped Bottom: Closed 100% of the time
 * Snapped Top: Closed except bottom-most element
 * Free Floating: Open 100% of the time
 */

.content-header.closed::before {
    font-family: FontAwesome;
    content: '\f0fe';
    /* Unicode font-awesome plus-box*/
    padding-right: 5px;
}

.above > .opened::before, .section > .content-header::before {
    font-family: FontAwesome;
    content: '\f146';
    /* Unicode font-awesome minus-box*/
    padding-right: 5px;
}

/**
 * Open is the dominant state. This ensures that
 * won't change if the prior two rules were fliped around. 
 */
.closed + .opened::before {
    content: '\f146';
    /* Unicode font-awesome minus-box*/
}
